body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: #0C2D57;
}

.firstDiv {
  background: #013564;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding-block: 10px;
  align-items: center;
}

.divTime {
  display: grid;
  justify-items: center;
  color: white;
}

.date {
  font-weight: 500;
  font-size: 19px;
}

h1 {
  color: white;
  font-size: 30px;
  margin-left: 10px;
}

.opeDiv {
  display: flex;
  align-items: center;
}

.opeSpan {
  color: #116dc4;
  font-weight: 600;
  font-size: 17px;
}

.opeNbr {
  font-size: 20px;
  font-weight: 600;
  background: #579CD7;
  padding: 5px 15px;
  margin-left: 10px;
  color: white;
  border-radius: 2px;
  display: grid;
  align-content: center;
}

.historiqueButton {
  background: #5A9BD5;
  border: solid 1px #5A9BD5;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 18px;
  transition: 300ms;
  text-decoration: none;
  cursor: pointer;
}

.stopButton {
  background: darkred;
  border: solid 1px darkred;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 18px;
  transition: 300ms;
  text-decoration: none;
  cursor: pointer;
}

.stopButton:hover {
  background: white;
  color: darkred;
}

.historiqueButton:hover {
  background: white;
  color: #5A9BD5;
}

.loginDiv {
  display: grid;
  justify-items: center;
  margin-top: 130px;
  margin-inline: 80px;
  padding: 50px;
}

.loginform {
  display: grid;
  width: 30%;
  gap: 30px;
  font-family: "Poppins", sans-serif;
  background: white;
  padding-block: 50px;
  padding-inline: 70px;
  border-radius: 10px;
}
.loginform input {
  border: none;
  font-family: "Poppins", sans-serif;
  border-bottom: solid 2px #EFECEC;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
.loginform button {
  background: #5A9BD5;
  border: solid 1px #5A9BD5;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: 300ms;
  text-decoration: none;
  cursor: pointer;
  width: 60%;
}
.loginform button:hover {
  background: white;
  color: #5A9BD5;
}

.logout-menu {
  display: none;
  position: absolute;
  left: 36px;
  top: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
}

.logout-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logout-menu li {
  padding: 5px 20px;
}
.logout-menu li a {
  text-decoration: none;
  color: black;
}

.logout-menu li:hover {
  background-color: #f0f0f0;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -14px;
  left: 10px;
}

.green_circle {
  background: #93CE56;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.big_green_circle {
  background: #93CE56;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.statue_machine {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.red_circle {
  background: #EB1F20;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.big_red_circle {
  background: #EB1F20;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.progress-container {
  width: 100%;
  background-color: #f1f1f1;
  height: 55px;
  border-radius: 8px;
}

.progress-bar {
  width: 0;
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.white_div {
  display: grid;
  background: white;
  border: solid 8px #2D5497;
  padding-block: 20px;
}

.prod {
  display: grid;
  justify-items: center;
}

.greenNbr {
  font-size: 20px;
  font-weight: 600;
  background: #93CE56;
  padding: 5px 15px;
  margin-left: 10px;
  color: white;
  border-radius: 2px;
  display: grid;
  align-content: center;
}

.redNbr {
  font-size: 20px;
  font-weight: 600;
  background: #EB1F20;
  padding: 5px 15px;
  margin-left: 10px;
  color: white;
  border-radius: 2px;
  display: grid;
  align-content: center;
}

.greenText {
  color: #93CE56;
}

.blueText {
  color: #579CD7;
}

.whiteSession {
  background: white;
  border-radius: 10px;
  padding: 30px;
}

.inputSession {
  display: grid;
  gap: 10px;
  margin-block: 10px;
}
.inputSession input {
  font-family: "Poppins", sans-serif;
  border: solid 1px #EFECEC;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  width: 24rem;
  height: 24rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}
.card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.card span {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
  padding-block: 5px;
}
.card p, .card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}
.card .div_histo {
  padding: 30px;
  margin-top: 170px;
}
.card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}
.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}
.card:hover p, .card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}
.card:hover span {
  opacity: 1;
  transition: opacity 0.3s 0.1s ease-in;
}
.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.white_histo {
  background: white;
  color: black;
  padding: 20px 30px;
  border-radius: 10px;
}

.center_histo {
  display: grid;
  justify-items: center;
  padding-top: 200px;
}
.center_histo h1 {
  color: black;
  margin-block: 10px;
  text-align: center;
}
.center_histo p {
  text-align: center;
  margin-block: 5px;
}

.div_histo {
  margin-block: 10px;
}

.color {
  color: darkred;
}

.green_text {
  color: #4caf50;
}

.exportButton_div {
  display: grid;
  justify-items: center;
}
.exportButton_div a {
  background: #4caf50;
  border: solid 1px #4caf50;
  padding: 10px 15px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: 300ms;
  border-radius: 10px;
  text-decoration: none;
}
.exportButton_div a:hover {
  color: #4caf50;
  background: white;
}

.grid_histo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/*# sourceMappingURL=style.css.map */
